$primaryColor: #008299; //teal
// $secondaryColor: #8f93ac;
$secondaryColor: #737899; //purple-gray

$darkestGray: #333;
$darkGray: #666;
$mediumGray: #999;
$lightGray: #aaa;
$borderGray: #ccc;
$lightestGray: #f1f1f5;

$standardBoxShadow: 0 1px 2px rgba(0, 0, 0, 0.3);
$mainPadding: 25px;
$standardBorder: 1px solid $borderGray;

@mixin border-radius($pixels) {
  border-radius: $pixels;
  -webkit-border-radius: $pixels;
  -moz-border-radius: $pixels;
}

@mixin box-shadow($parameters) {
  -moz-box-shadow: $parameters;
  -webkit-box-shadow: $parameters;
  box-shadow: $parameters;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}