body {
  background-color: #444;
}
#snake .content {
	background-color: #539574;
	margin-top: 26px;
}
.gameContainer {
  float: left;
  height: 100%;
	margin-right: 40px;
  text-align: center;
  width: 450px;
}
#gameCanvas {
  border: 2px solid black;
  margin: 10px 10px 30px 0;
  padding: 0;
  lineWidth: 2;
  background-color: white;
}
#text {
  height: 350px;
  position: relative;
  top: 30px;
}
#score {
	font-size: 2em;
}
.home {
  text-align: center;
  position: relative;
  top: 80px;
}
