@import "modules";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
  font-size: 16px;
}
body {
  background-color: white;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: $darkestGray;
  min-height: 100%;
  width: 100%;
}
/***BIG CONTAINERS***/
.containerXL, .contentContainer {
  @extend .borderBox;
  max-width: 100%;
  // padding-left: $mainPadding;
  // padding-right: $mainPadding;
}
.containerXL {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
// .colorBlock {
//   position: absolute;
//   z-index: 0;
//   width: 100%;
// }

.contentContainer {
  // margin: 0 auto;
  // width: 66.6667;
  // max-width: auto;
  // width: auto;
  // float: left;
  max-width: 826px;
  overflow: hidden;
  // display: inline-block;
  // position: relative;
  // z-index: 999;
  padding: $mainPadding;
  // padding-right: $mainPadding;
}

/***TEXT***/
h1, h2, h3, h4 {
  font-weight: normal;
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
  // position: absolute;
  // font-size: 3.5em;
  // bottom: 0.1em;
  // letter-spacing: -0.01em;
  // text-transform: lowercase;
}
h1 {
  text-transform: lowercase;
}
h1 {
  font-size: 3em;
  // letter-spacing: 0.001em;
  color: $lightGray;
  padding: $mainPadding;
  line-height: 1;
  // left: 0;
  /*-webkit-margin-before: 0;*/
}
h2 {
  color: $darkGray;
  // right: 0;
}
/*content head*/
h4 {
  color: $mediumGray;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.1;
  margin: 10px 0;
  letter-spacing: 0.02em;
}
p, ul, ol {
  color: #333;
  font-size: 1em;
  line-height: 1.45;
}
li {
  margin-bottom: 10px;
}
p { margin: 0 0 0.8em 0; }
// ul, ol { margin-bottom: 0; margin-top :0; }
.small { font-size: 0.8em; }

/*** LINKS ***/

a, img { border: none; }
a:link { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }
.content a:link { color: $primaryColor; }
.content a:visited  { color: #8130a4; }
.content a:hover  { text-decoration: underline; }

/*** ALIGNMENT ETC ***/

.borderBox {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.indented { margin-left: 40px; }
.indent10 { margin-left: 10px; }
.indent50 { margin-left: 50px; }

.inline { display: inline; }
.inlineBlock { display: inline-block; }

.noMargTop { margin-top: 0 !important;}
.topMarg10 { margin-top: 10px !important; }
.topMarg20 { margin-top: 20px !important; }
.topMarg50 { margin-top: 50px !important; }
.noMargBot { margin-bottom: 0 !important;}
.noPadBot { padding-bottom: 0 !important;}
.botMarg20 { margin-bottom: 20px !important; }
.rMarg10 { margin-right: 10px !important; }
.noPadTop { padding-top: 0 !important; }
.noMargR { margin-right: 0 !important; }
.noMargL { margin-left: 0 !important; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.overflowHidden { overflow: hidden; }

.center { margin: 0 auto; text-align: center; }

.invisible { visibility: hidden !important; }

.white { color: white; }
.lightGray {
  color: $lightGray;
}

.whiteBG { background-color: white; }

.border {
  border: 1px solid #ccc;
  @extend .borderBox;
}

/***************************/
/*******MEDIA QUERIES*******/
/***************************/

@media only screen and (max-width: 1094px) {
  .leftNavContainer {
    width: 190px;
    // padding-right: 0;
  }
}
// @media only screen and (max-width: 1056px) {
//   .leftNavContainer {
//     width: 200px;
//   }
// }

@media only screen and (max-width: 780px) {
  #about .content { padding-bottom: 22px !important; }
}
// @media only screen and (max-width: 544px) {
//   #portfolio .item {
//     width: 100%;
//   }
// }

@media only screen and (max-width: 645px) {
  $mainPadding: 18px;
  .leftNavContainer {
    float: none;
    width: 100%;
    .leftNav {
      padding-bottom: 6px;
      a {
        &.subTab {
          display: none;
        }
        &.active {
          background-position: 0 center;
        }
      }
      .resumeLink {
        margin-top: 0;
      }
    }
  }
  h1 {
    font-size: 2.5em;
    padding-bottom: 0;
  }
}
@media (max-width: 520px), only screen and (max-device-width: 720px) and (orientation: portrait) {
  // .miniNav div { display: block; }
  .profile.web { display: none !important; }
  .profile.mobile { display: block; }
    #about .content {
    min-height: 0;
    margin-top: -4px;
  }
  .profile {
    margin: 0;
    padding: 0;
    border: 0;
    float: none;
    width: 100%;
  }
}
@media (max-width: 480px), only screen and (max-device-width: 720px) {
  // #head { font-size: 0.8em;}
  // h1 { font-size: 4.1em !important; }
  // h2 { font-size: 3em !important; top: 1.4em; }
  
}
@media only screen and (max-width: 448px) {
  #portfolio {
    #items {
      width: 100%;
      .item {
        .itemLink {
          margin-right: 0 !important;
          max-width: 100%;
        }
        .itemImage {
          background-size: 100% auto;
          // height: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 430px) {
  .contact .contentContainer {
    text-align: left;
    .left {
      float: none;
    }
  }
}
@media (max-width: 400px), only screen and (max-device-width: 720px) and (orientation: portrait) {
  // #head {
  //   font-size: 0.7em;
  // }
  // .halfNav {
  //   min-width: 100%;
  //   clear: both;
  // }
  .tabContainer {
    width: 48.6%;
    &:nth-child(2) {
      margin-right: 0 !important;
    }
  }
  .tabContainer:first-child {
    margin-left: 0 !important;
  }

  body .indented { margin-left: 24px !important; }
}
@media (max-width: 340px), only screen and (max-device-width: 720px) and (orientation: portrait) {
  #head {
    font-size: 0.6em;
  }
}
@media (max-width: 300px), only screen and (max-device-width: 720px) and (orientation: portrait) {
  // #head {
  //   font-size: 0.6em;
  // }
}

/***mobile***/
@media only screen and (max-device-width:720px) {
  body { font-size: 110%; }
  hr { margin: 30px 0;	}
}
@media only screen and (max-device-width:720px) and (orientation:portrait) {
	h4 { font-size: 1.8em;	}
	.item .date { font-size: 1.1em; margin-left: 0; }
  #items { margin-left: auto; margin-right: auto; }
}
@media only screen and (max-device-width:720px) and (orientation:landscape) {
}
