html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
  font-size: 16px; }

body {
  background-color: white;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #333333;
  min-height: 100%;
  width: 100%; }

/***BIG CONTAINERS***/
.containerXL, .contentContainer {
  max-width: 100%; }

.containerXL {
  width: 1030px;
  max-width: 100%;
  margin: 0 auto;
  position: relative; }

.contentContainer {
  max-width: px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 25px; }

/***TEXT***/
h1, h2, h3, h4 {
  font-weight: normal;
  font-weight: 300;
  margin: 0;
  padding: 10px 0; }

h1 {
  text-transform: lowercase; }

h1 {
  font-size: 3em;
  color: #aaaaaa;
  line-height: 1.15;
  padding: 25px 0 25px 25px;
  /*-webkit-margin-before:  0;*/ }

h2 {
  color: #666666; }

/*content head*/
h4 {
  color: #999999;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.1;
  margin: 10px 0;
  letter-spacing: 0.02em; }

p, ul, ol {
  color: #333;
  font-size: 1em;
  line-height: 1.45; }

li {
  margin-bottom: 10px; }

p {
  margin: 0 0 0.8em 0; }

.small {
  font-size: 0.8em; }

/*** LINKS ***/
a, img {
  border: none; }

a:link {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit;
  text-decoration: none; }

.content a:link {
  color: #008299; }

.content a:visited {
  color: #8130a4; }

.content a:hover {
  text-decoration: underline; }

/*** ALIGNMENT ETC ***/
.borderBox, .containerXL, .contentContainer, .border, #portfolio .item .itemLink {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

.indented {
  margin-left: 40px; }

.indent10 {
  margin-left: 10px; }

.indent50 {
  margin-left: 50px; }

.inline {
  display: inline; }

.inlineBlock, #portfolio .item .itemLink {
  display: inline-block; }

.noMargTop {
  margin-top: 0 !important; }

.topMarg10 {
  margin-top: 10px !important; }

.topMarg20 {
  margin-top: 20px !important; }

.topMarg50 {
  margin-top: 50px !important; }

.noMargBot {
  margin-bottom: 0 !important; }

.noPadBot, .profileContainer {
  padding-bottom: 0 !important; }

.botMarg20 {
  margin-bottom: 20px !important; }

.rMarg10 {
  margin-right: 10px !important; }

.noPadTop {
  padding-top: 0 !important; }

.noMargR {
  margin-right: 0 !important; }

.noMargL {
  margin-left: 0 !important; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.overflowHidden {
  overflow: hidden; }

.center {
  margin: 0 auto;
  text-align: center; }

.invisible {
  visibility: hidden !important; }

.white {
  color: white; }

.lightGray {
  color: #aaaaaa; }

.whiteBG {
  background-color: white; }

.border, #portfolio .item .itemLink {
  border: 1px solid #ccc; }

/***HEAD***/
.header {
  overflow: hidden;
  height: auto; }
  .header a {
    display: block;
    width: auto;
    overflow: hidden; }
  .header.fixed {
    position: fixed;
    width: 100%;
    top: -8px;
    background: white;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ccc;
    z-index: 7; }

.menuIcon {
  background: url("/images/menu-icon-retina.png") 16px 14px no-repeat;
  background-size: 32px;
  height: 32px;
  width: 32px;
  padding: 14px 16px 8px;
  float: right;
  display: none;
  cursor: pointer; }
  .menuIcon:hover, .menuIcon:active, .menuIcon:focus {
    background-color: #eeeeee; }

/***NAV***/
.leftNavContainer {
  width: 204px;
  float: left;
  position: relative;
  left: 0;
  top: 0;
  display: block;
  background: white;
  border-top: 0; }
  .leftNavContainer .leftNav {
    padding: 25px 0; }
    .leftNavContainer .leftNav a {
      display: block;
      padding: 5px 25px;
      margin: 0;
      cursor: pointer; }
      .leftNavContainer .leftNav a:hover {
        text-decoration: underline; }
      .leftNavContainer .leftNav a.mainTab {
        font-weight: bold;
        text-transform: lowercase;
        color: #333333; }
      .leftNavContainer .leftNav a.subTab {
        color: #666666;
        font-size: 0.9em;
        padding-left: 38px; }
      .leftNavContainer .leftNav a.active {
        background: url("/images/active-tab-marker-retina.png") 6px center no-repeat;
        background-size: 12px 20px;
        color: #008299; }
    .leftNavContainer .leftNav .resumeLink {
      margin-top: 10px; }

#nav {
  margin: 0 0 10px;
  width: 100%;
  display: table; }

.halfNav, .tabContainer {
  border: 0;
  margin: 6px 0 0;
  padding: 0;
  display: block;
  float: left; }

.halfNav {
  width: 50%; }

.tabContainer {
  margin: 0 1.4%;
  width: 47.9%; }

#nav .tab {
  color: #aaaaaa;
  display: block;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  padding: 0.5em 0 0.6em; }

#nav .tab:hover,
.activeTab {
  background-color: white !important;
  color: #008299 !important; }

/***CONTENT***/
.colorBlock.top {
  background-color: #666666;
  height: 400px;
  top: 0; }

.profile {
  float: left;
  margin: 0 30px 0 0; }

.profile.web {
  height: 400px;
  width: 230px; }

.profile.mobile {
  display: none; }

.headshot {
  float: left;
  margin: 10px 20px 0 0;
  height: 218px;
  width: 218px; }

.contactParagraph {
  margin-top: 50px;
  overflow: hidden; }

/* page specifics */
#resume .content > div {
  margin-bottom: 5px; }
#resume h2 {
  margin-top: 30px; }
#resume p {
  margin-top: 1em;
  margin-bottom: 0.1em; }
#resume ul, #resume li {
  margin-top: 0;
  margin-bottom: 0; }

.profileContainer {
  min-height: 378px; }

/***PORTFOLIO***/
#portfolio .content {
  overflow: hidden; }
#portfolio #items {
  width: 103%; }
#portfolio .item {
  float: left;
  margin-top: 0;
  max-width: 100%; }
  #portfolio .item .itemLink {
    background: white;
    display: block;
    width: 378px;
    max-width: 97%;
    margin: 0 20px 20px 0;
    position: relative; }
    #portfolio .item .itemLink .itemImage {
      background: url("/portfolio/images/portfolio-covers.png") 0 0 no-repeat;
      background-size: 378px 3000px;
      height: 280px;
      margin: 0 auto; }
    #portfolio .item .itemLink .itemLabels {
      background: #eeeeee;
      text-align: center;
      padding: 15px; }
      #portfolio .item .itemLink .itemLabels .title {
        color: #333333;
        font-size: 1.1em; }
      #portfolio .item .itemLink .itemLabels .role {
        color: #666666;
        font-size: 0.8em; }
  #portfolio .item#ssa .itemLink .itemImage {
    background-position: 0 -2100px; }
  #portfolio .item#beforeItWasCool .itemLink .itemImage {
    background-position: 0 -1500px; }
  #portfolio .item#snake .itemLink .itemImage {
    background-position: 0 -600px; }
  #portfolio .item#thirdLayerSoftware .itemLink .itemImage {
    background-position: 0 -1800px; }
  #portfolio .item#oldPersonApp .itemLink .itemImage {
    background-position: 0 -900px; }
  #portfolio .item#myFive .itemLink .itemImage {
    background-position: 0 -1200px; }
  #portfolio .item#olsetWebsite .itemLink .itemImage {
    background-position: 0 -300px; }
  #portfolio .item#olsetAnydo .itemLink .itemImage {
    background-position: 0 0; }
  #portfolio .item#olsetBizCards .itemLink .itemImage {
    background-position: 0 -2400px; }
#portfolio .itemOverlay {
  opacity: 0.2;
  filter: alpha(opacity=20);
  height: 280px;
  width: 100%;
  background-color: white;
  position: absolute;
  font-size: 1.2em; }
  #portfolio .itemOverlay div {
    display: none;
    padding: 20px;
    vertical-align: top; }
    #portfolio .itemOverlay div strong {
      color: #999999;
      display: block;
      padding-bottom: 8px; }

/***TWITTER FEED***/
#twitterFeed .content {
  min-height: 700px; }

.twitter-timeline {
  width: 100%; }

/*applied to multiple*/
#portfolio h4,
.portfolioPage h4, .date {
  display: inline-block; }

.portfolioPage .content h2 {
  display: inline-block;
  padding-top: 0;
  margin-bottom: 25px; }
.portfolioPage .content .projectInfo {
  float: right;
  text-align: right;
  color: #aaaaaa; }
.portfolioPage img {
  max-width: 100%; }

#items {
  position: relative;
  clear: both;
  width: 786px; }

.item {
  display: block; }
  .item p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px; }

hr {
  background-color: #9CA9B4;
  border: 0;
  color: #9CA9B4;
  height: 1px;
  margin: 50px 0;
  width: 100%; }

.portfolioNav {
  display: none;
  width: 100%;
  margin: 0 auto 16px;
  text-align: center; }
  .portfolioNav h2 {
    display: inline-block;
    padding: 4px 0 0; }
  .portfolioNav .prev, .portfolioNav .next {
    background: url("/images/arrows-retina.png") 0 0 no-repeat;
    background-size: 80px 80px;
    height: 40px;
    width: 40px; }
    .portfolioNav .prev a, .portfolioNav .next a {
      display: block;
      height: 100%;
      width: 100%; }
  .portfolioNav .prev {
    float: left; }
    .portfolioNav .prev:hover, .portfolioNav .prev:active {
      background-position: 0 -40px; }
  .portfolioNav .next {
    float: right;
    background-position: -40px 0; }
    .portfolioNav .next:hover, .portfolioNav .next:active {
      background-position: -40px -40px; }

.portfolioNav .prev {
  text-align: left; }

.portfolioNav .next {
  text-align: right; }

.portfolioNav .miniNav {
  text-align: center; }

/***FOOTER***/
.contact {
  color: white;
  width: 100%;
  clear: both;
  font-size: 1.2em;
  display: block;
  padding-bottom: 60px;
  margin-top: 30px;
  height: 100%; }
  .contact .contentContainer {
    padding: 8px 0;
    text-align: right; }
    .contact .contentContainer a {
      display: inline-block;
      margin: 6px 15px 6px 0;
      text-transform: lowercase;
      vertical-align: middle; }
      .contact .contentContainer a div {
        display: block; }
      .contact .contentContainer a .socialIcon {
        background: url("/images/social-icons-retina.png") 0 0 no-repeat;
        background-size: 280px 80px;
        display: inline-block;
        height: 40px;
        width: 40px; }
        .contact .contentContainer a .socialIcon.behance:hover, .contact .contentContainer a .socialIcon.behance:active {
          background-position: 0 -40px; }
        .contact .contentContainer a .socialIcon.github {
          background-position: -40px 0; }
          .contact .contentContainer a .socialIcon.github:hover, .contact .contentContainer a .socialIcon.github:active {
            background-position: -40px -40px; }
        .contact .contentContainer a .socialIcon.stackExchange {
          background-position: -80px 0; }
          .contact .contentContainer a .socialIcon.stackExchange:hover, .contact .contentContainer a .socialIcon.stackExchange:active {
            background-position: -80px -40px; }
        .contact .contentContainer a .socialIcon.twitter {
          background-position: -120px 0; }
          .contact .contentContainer a .socialIcon.twitter:hover, .contact .contentContainer a .socialIcon.twitter:active {
            background-position: -120px -40px; }
        .contact .contentContainer a .socialIcon.linkedIn {
          background-position: -160px 0; }
          .contact .contentContainer a .socialIcon.linkedIn:hover, .contact .contentContainer a .socialIcon.linkedIn:active {
            background-position: -160px -40px; }
        .contact .contentContainer a .socialIcon.email {
          background-position: -200px 0; }
          .contact .contentContainer a .socialIcon.email:hover, .contact .contentContainer a .socialIcon.email:active {
            background-position: -200px -40px; }
        .contact .contentContainer a .socialIcon.phone {
          background-position: -240px 0; }
          .contact .contentContainer a .socialIcon.phone:hover, .contact .contentContainer a .socialIcon.phone:active {
            background-position: -240px -40px; }
